# Database
DATABASE_URL="postgresql://agencia:agencia_dev_2026@localhost:5432/agencia_turismo?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="agencia_tours_dev"

# Culqi
CULQI_PUBLIC_KEY=""
CULQI_SECRET_KEY=""
CULQI_WEBHOOK_SECRET=""

# PayPal
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
PAYPAL_WEBHOOK_ID=""
PAYPAL_MODE="sandbox"

# Resend
RESEND_API_KEY=""
EMAIL_FROM="noreply@tudominio.com"
ADMIN_NOTIFICATION_EMAIL="admin@tudominio.com"

# App
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER=""
