# dependencies
node_modules

# next.js
.next/
out/

# env
.env
.env.local
.env.*.local

# misc
*.pem
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/src/generated/prisma

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker installer (no subir al repo)
Docker Desktop Installer.exe
